html {
  margin: 0rem;
  padding: 0rem;
  font-family: open-sans;
}

body {
  background-color: #E8EBE4;
  margin: 0rem;
  padding: 0rem;
}

.padre {
  display: flex;
}

.seccionPrincipal {
  height: 100vh;
  width: 67rem;

  display: flex;
  /* centramos verticalmente dado que flex se define como columna en nuestro caso*/
  justify-content: center;
  flex-direction: column;
  /* centramos horizontalmente*/
  align-items: center;

  font-family: sans-serif;
  font-size: medium;
  text-align: center;
  border: solid 2px;
  border-left: 1px;
  border-bottom: 0px;
  border-right: 0px;
  border-top: 0px;

}

.hero {
  height: 15rem;
  width: 15rem;
  background-image: url(../imgs/hand.png);
  /* ajusta tamaño de imágen de fondo */
  background-size: cover;
}

.hero2 p {
  width: 29rem;
}

menu {
  /* background-color: cyan; */
  width: 13rem;
  height: 100vh;
  margin: 0rem;
  padding: 0rem;
  border: solid 1px;
  
  
}

menu ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* Separa los elementos de la lista */
  /* gap: 20px; */
  padding: 0rem;

  /* Eliminar bullets de la lista */
  list-style-type: none;
}

/* menú izquierdo */
.menuContactos {
  width: 13rem;

}
/* usuario */

.bloqueUsuario {
  width: 13rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px;

}

.imagenUsuario {
  width: 4rem;
  height: 4rem;
  /* background-color: rgb(147, 58, 58); */
  border-radius: 50%;
}

.imagenUsuario img {
  height: 4rem;
  width: 5rem;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
}
.circular--landscape img {
  width: 100%;
  height: 100%;
}

.imagenyTextoUsuario {
  display: flex;
  
}

.nombreyEstado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nombreyEstado p {
  margin: 0rem;
  padding: 0rem;
  font-family: sans-serif;
  font-size: small;
  text-align: center;
  margin-left: 0.2rem;
  
}

.nombreyEstado2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .nombreyEstado2 p {
    margin: 0rem;
    padding: 0rem;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    margin-left: 0.2rem;
  }



.iconosUsuario i {
    margin: 0.3rem;
  }

i:hover{background-color: #EF7F6D;}

/* boton */
.mi_boton {
  width: 13rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  background-color: white; */
  border: solid 1px;
}


button {
  width: 11rem;
  height: 4.5rem;
  color: white;
  background-color: #A491D2;
}
button:hover{background-color: #EF7F6D;
cursor:pointer;}

/*  Contactos */
.contacto {
  width: 13rem;
  height: 3.5rem;
  /* background-color: white; */
  border-bottom: solid 1px;

}

.contacto:hover{background-color: #EF7F6D;
cursor:pointer;}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}


